
<div class="container app">
  
  <div class="row"> 
  
    <div class="col-sm-12">
      <h2 class="text-center">
          Iniciar sesión
      </h2>
    </div>
    
  </div>

    <div  class="text-center" >
        <p>
            Ingrese sus datos de acceso en el sistema MARES
          </p>
          
          <input class="form-control" type="text" placeholder="Usuario">
          <br/>
          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
           
          <br/>
          <select class="custom-select" id="inputGroupSelect01">
              <option value="1">Español</option> 
              <option value="2">Ingles</option> 
              <option value="3">Japones</option>
              <option value="4">Portugues</option> 
              <option value="5">Italiano</option> 
              <option value="6">Aleman</option> 
            </select>
      
      <br/>
      <br/>
      
            <div class="form-check" >
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
              </div>
            <br/>
      <br/>
      

      
      <a mat-raised-button color="primary" href="inicio" >Inicio</a>
  
    </div>
  

  
  
   
   
 

  


