    <form>
        <h3>
           Inicio de Sesión
        </h3>
         
        <p>
          Ingrese sus datos de Acceso en el Sistema MARES
        </p>
        
        <br/>
  
        <label for="user">Usuario:</label>
        <input type="username" name="Usuario" id="username" placeholder=" " ngMogle>

        <br/>
        <br/>

         <label for="pass">Contraseña:</label>
        <input type="password" name="Contraseña" id="password" placeholder=" " ngMogle>
       
        <br/>
        <br/>
     
        <label for="pass">Idioma:</label>
        <select name="OS">
          <option value="1">Español</option> 
          <option value="2">Ingles</option> 
          <option value="3">Japones</option>
          <option value="10">Portugues</option> 
          <option value="11">Italiano</option> 
          <option value="12">Aleman</option> 
        </select>
        
        <br/>
        <br/>

        <input class="btn btn-info bth-lg" type="reset" name="action" value="Acceder ">
          
    </form>
  

  


